@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

section{
    background-color: #ffff81;
    font-family: "Bebas Neue", sans-serif;
}

.texto-buscar-superhero{
    font-size: 1.2rem;
}
body{
    background-color: #ffff81;
}

.info-superhero{
    justify-content: space-between;
}


.card{
    background-color:#ffff99;
}

.btn {
    width: 20%;
}